{% extends 'newtemplate/base.html' %}
{% load static %}
{% block style %}
<link rel=stylesheet type=text/css href="{% static 'newtemplate/css/tablestyle.css' %}">

<style>
  .h{
    font-size: 9px !important;
  }
</style>
 {% endblock %} 
 
{% block content %}
<section>

    <h2 class=heading>{{ team.name }} 
      <br><span>{{ team.teamname }}</span></h2>

    </section>

    <div class="table-main" style="padding: 0 5px 5px 5px">
    <div  class="tbl-header">
      <table id="points-table" cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th class="h"  width="10px">GW</th>
            <th class="h">Points</th>
            <th class="h">Point on Bench</th>
            <th class="h">Total points</th>
            <th class="h">Bank</th>
            <th class="h">Value</th>
            <th class="h">Transfer</th>
            <th class="h">Transfer Cost</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
          {% for gw in gameweek.all %}
          <tr>
            <td  width="20px" class="h">{{ gw.no }}</td>
            <td class="h">{{ gw.point }}</td>
            <td class="h">{{ gw.point_on_bench }}</td>
            <td class="h">{{ gw.totalpoints }}</td>
            <td class="h">{{ gw.bank }}</td>
            <td class="h">{{ gw.value }}</td>
            <td class="h">{{ gw.event_transfers }}</td>
            <td class="h">{{ gw.event_transfers_cost }}</td>
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
    </div>
  </div>


  
  
  <!-- follow me template -->
  <!-- <div class="made-with-love">
    Made with
    <i>♥</i> by
    <a target="_blank" href="https://codepen.io/nikhil8krishnan">Nikhil Krishnan</a>
  </div> -->



  {% endblock %}
{% block script %}
<script>
// '.tbl-content' consumed little space for vertical scrollbar, scrollbar width depend on browser/os/platfrom. Here calculate the scollbar width .
$(window).on("load resize ", function() {
  var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
  $('.tbl-header').css({'padding-right':scrollWidth});
}).resize();
</script>
{% endblock %}

