<style>li {
  display: block;
  transition-duration: 0.5s;
 }
 
 li:hover {
   cursor: pointer;
 }
 
 ul li ul {
   visibility: hidden;
   opacity: 0;
   position: absolute;
   transition: all 0.5s ease;
   margin-top: 1rem;
   left: 0;
   display: none;
 }
 
 ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}
 
 ul li ul li {
   clear: both;
   width: 100%;
 }</style>

<div id="colorlib-page">
    <a href="{% url 'cv:home' %}" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
    <aside
      id="colorlib-aside"
      role="complementary"
      class="js-fullheight text-center"
    >
      <h1 id="colorlib-logo">
        <a href="{% url 'cv:home' %}"
        ><span class="img"
            style="background-image: url({{ company.logo.url }});"></span>
          {{ company.name }}
            </a>
      </h1>
      <nav id="colorlib-main-menu" role="navigation">
        <ul>
          <li class="colorlib-active"><a  href="{% url 'cv:home' %}">Home</a></li>
          <li><a  href="{% url 'cv:teams' %}">Teams</a></li>
          <li style="color: #000; font-weight: bold;" class="dropdown-toggle">Game Mods
          <ul class="dropdown">
          <li><a href="{% url 'cv:gameweekwinner' %}">Gameweek Winner</a></li>
            <li><a href="{% url 'cv:classicleague' %}">Classic League</a></li>
              <li><a href="{% url 'cv:divisionleague' %}">Division League</a></li>
                <li><a href="{% url 'cv:eliminationleague' %}">Elimination League</a></li>
                  <li><a href="{% url 'cv:iamsafe' %}">I AM SAFE</a></li>
          </ul> 
        </li>
          <li><a href="{% url 'cv:rewards' %}">Rewards</a></li>
          <li><a   href="{% url 'cv:rules' %}">Rules</a></li>
          <li><a  href="{% url 'cv:about' %}">About Me</a></li>
          <li><a   href="{% url 'cv:contact' %}">Contact</a></li>
          
        </ul>
      </nav>
  
      {% comment %} <div class="colorlib-footer">
        <h3>Newsletter</h3>
        <div class="d-flex justify-content-center">
          <form action="#" class="colorlib-subscribe-form">
            <div class="form-group d-flex">
              <div class="icon"><span class="icon-paper-plane"></span></div>
              <input
                type="text"
                class="form-control"
                placeholder="Enter Email Address"
              />
            </div>
          </form>
        </div>
      </div> {% endcomment %}
    </aside>
    <!-- END COLORLIB-ASIDE -->


