{% extends 'newtemplate/base.html' %} 
{% load static %} 
{% block style %} 
<link rel=stylesheet type=text/css href="{% static 'newtemplate/css/tablestyle.css' %}">
<style>
    .heading-2{
        font-size:12px !important; 
        text-align: left !important;
        margin-top: 20px;
        margin-bottom: 5px;
    }

    .ruledescription{
        margin-bottom: 30px !important;
        text-align: justify;
  text-justify: inter-word;
  text-indent: 50px;
    }
</style>
{% endblock %} 
{% block content %}

<section>
<div class="row">
    <div class="container">

  <div class="col">
    

    


  </div>
  </div>
</div>
</section>
{% endblock %}