{% extends 'newtemplate/base.html' %}
{% load static %}
{% block style %}
<link rel=stylesheet type=text/css href="{% static 'newtemplate/css/tablestyle.css' %}">
 {% endblock %} 
 
{% block content %}
<section>
  <h2 class=heading><span>Gameweek </span>Winner</h2>
  </section>
    <!--for demo wrap-->
    <div class="table-main" style="padding: 0 10px 10px 10px">
    <div style="margin-top: 20px;;" class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            {% comment %} <th>SN</th> {% endcomment %}
            <th width="20px">GW</th>
            <th>Manager</th>
            <th>Points</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
            {% for winner in gwwinner %}
            <tr>
                <td width="20px">{{ winner.gameweek }}</td>
                <td>{% for w in winner.name.all %}
                  <a style="color: #dbc570;" href="{% url 'cv:player-detail' pk=w.pk %}">
                  {{ w.name }}
                  {% endfor %}
                </a></td>
                <td>{{ winner.points }}</td>
                {% comment %} <td>{{ team.name }}</td> {% endcomment %}
              </tr>
           {% endfor %}
          
        </tbody>
      </table>
    </div>
</div>
  


  {% endblock %}
{% block script %}
<script>
// '.tbl-content' consumed little space for vertical scrollbar, scrollbar width depend on browser/os/platfrom. Here calculate the scollbar width .
$(window).on("load resize ", function() {
  var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
  $('.tbl-header').css({'padding-right':scrollWidth});
}).resize();
</script>
{% endblock %}

