{% extends 'base.html' %}
{% block title %}Classsic League{% endblock %}
{% block stylesheet %} 
<style>

  </style>

{% endblock%}

{% block content %}
{% include 'nav.html' %}

		<div id="colorlib-main">
			<section class="ftco-section ftco-bread">
				<div class="container">
					<div class="row no-gutters slider-text justify-content-center align-items-center">
	          <div class="col-md-8 ftco-animate">
	            <h1 class="bread">I am Safe</h1>
	          </div>
	        </div>
				</div>
			</section>

      <section class="ftco-section instagram">
      <div class="container">

        <div class="row no-gutters">
          
          
          <div class="col-sm-12 col-md ftco-animate">
            <a href="{{ company.iamsafe_image.url }}" class="insta-img image-popup"
              style="background-image: url( {{ company.iamsafe_image.url }} );">
            
              <div class="icon d-flex justify-content-center">
                {% comment %} <span class="icon-instagram align-self-center"></span> {% endcomment %}
              </div>
            </a>
          </div>
        
        </div>
      </div>
    </section>    

    <section class="ftco-section-3">



  <div class="row" style="margin-bottom: 30;">
  <div class="col">

      
      <table id="customers">
      
        <tr>
        <th> Division A </th>
        </tr>
        {% for team in divisiona.team.all %} 
        
        <tr>
        {% if team.issafe == "not safe" %}
        <td style="background-color: brown; color: cornsilk;">{{ team.name }} | GW{{ team.iamsafeliminatedgameweek.gameweek.no }} - {{ team.iamsafeoutpoints }} points </td>
        {% else %}
        <td>{{ team.name }}</td>
        {% endif %}
        </tr>
        {% endfor %}
      </table>

      
  </div>

  <div class="col">

      
<table id="customers">

  <tr>
  <th> Division B </th>
  </tr>
  {% for team in divisionb.team.all %} 
  
  <tr>
  <td>{{ team.name }}</td>
  </tr>
  {% endfor %}
</table>

</div>

<div class="col">

      
<table id="customers">

  <tr>
  <th> Division C </th>
  </tr>
  {% for team in divisionc.team.all %} 
  
  <tr>
  <td>{{ team.name }}</td>
  </tr>
  {% endfor %}
</table>

</div>

<div class="col">

      
<table id="customers">

  <tr>
  <th> Division D </th>
  </tr>
  {% for team in divisiond.team.all %} 
  
  <tr>
  <td>{{ team.name }}</td>
  </tr>
  {% endfor %}
</table>


</div>


</div>


</section>




{% include 'footer.html' %}
		</div><!-- END COLORLIB-MAIN -->
	</div><!-- END COLORLIB-PAGE -->

{% endblock %}
{% block javascript %}{% endblock %}